body{
    margin-top: 4%;
    color: #3b3b3b;
}
.navLinkStyle { 
    font-size: 115%;
    font-weight: 600;
    color: #808080;
}
.navLinkStyle:hover {
    color: #3b3b3b;
}
.socialMediaIcon{
    opacity: 0.35;
    width: 100%;
    height: auto;
}
.socialMediaIcon:hover {
    opacity: 0.6;
}